{% extends "base.html" %}
{% block title %}Trivia Game{% endblock %}

{% block content %}
    <h4>Gameover. no questions have been left. please wait for the admin to refreshing the questions database</h4>
    <a title="Refresh page" class="btn btn-warning" href="/questions" role="button"><i class="fa fa fa-refresh" aria-hidden="true"></i>Refresh</a>
    <a title="Go to home" class="btn btn-primary" href="/play" role="button"><i class="fa fa-home" aria-hidden="true"></i>Main</a>
{% endblock %}