{% extends "base.html" %}
{% block title %}Trivia Game{% endblock %}
{% block content %}

    <h6>Welcome Admin</h6>

    {% if finish_list %}
    <h5>Leaderboard:</h5>
    <p>{% for name in finish_list %}
    {{loop.index}}. {{name}}<br>
    {% endfor %}</p>
    {% endif %}

    <form action="#" method="post">
        <strong>Query:   <input type="text" name="query" required/></strong>
        <input title="Send query to the server" class="btn btn-dark" type="Submit" value="Send"/>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Score</th>
                    <th scope="col">Actions</th>
                    </tr>
                    </thead>
                <tbody>
                    {% for item in values %}
                    <tr>
                        <th scope="row">#{{item.id}}</th>
                        <td>
                            <form action="#" method="post">
                                {{item.name}}
                                <button title="Edit {{item.name}} name" onclick="return editName('{{item.name}} ', '{{item.id}}')" id="admin_edit_name_btn{{item.id}}" class="btn btn-success btn-sm" name="edit_name" type="submit" value="{{item.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                             </form>
                        </td>
                        <td>{{item.score}}</td>
                        <td>
                            <form action="#" method="post">
                                <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                                <button title="Edit {{item.name}} score" onclick="return editScore('{{item.name}} ', '{{item.score}}', '{{item.id}}')" id="admin_edit_score_btn{{item.id}}" class="btn btn-success" name="edit_score" type="submit" value="{{item.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button title="Delete user {{item.name}}" onclick="return confirm('Are you sure you want to delete {{item.name}}?')" class="btn btn-danger" name="delete" type="submit" value="{{item.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form action="#" method="post">
        <button title="Refresh the question database" onclick="return confirm('Are you sure you want to refresh the questions database?')" id="admin_refresh_database" class="btn btn-success btn-lg" name="refresh_questions_database" type="submit" value="refresh"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Refresh</button>
        <a title="Logout from Admin" class="btn btn-danger btn-lg" href="/admin_logout" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </form>
{% endblock %}