{% extends "base.html" %}
{% block title %}Trivia Game{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign.css') }}">{% endblock %}
{% block content %}
    <div class="sign">
      Tr<span class="fast-flicker">i</span>vi<span class="flicker">a</span>
    </div>
    <h5>Welcome {{username}}, your score is {{score}}</h5>
    <a title="Get a question" class="btn btn-primary btn-lg divider2" href="/questions" role="button"><i class="fa fa-play" aria-hidden="true"></i> Get Questions</a>
    <a title="Go to scoreboard" class="btn btn-success btn-lg divider2" href="/scoreboard" role="button"><i class="fa fa-star" aria-hidden="true"></i> Scoreboard</a>
    <a title="Logout from {{username}}" class="btn btn-danger btn-lg divider2" href="/logout" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    <p>Loaded {{total_questions}} questions in: {{database_time}} UTC</p>
{% endblock %}
