{% extends "base.html" %}
{% block title %}Trivia Game{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign.css') }}">{% endblock %}
{% block content %}

    <div class="sign">
      sc<span class="fast-flicker">o</span>re<span class="flicker">b</span>oard
    </div>

    <table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Nickname</th>
        <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    {% for item in values %}
        {% if item.score %}
            {% if user_id == item.id %}
                <tr class="table-active">
            {% else %}
                <tr>
            {% endif %}
                <th scope="row">#{{loop.index}}</th>
                <td>{{item.name}}</td>
                <td>{{item.score}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>

    <a title="Go to home" class="btn btn-primary" href="/play" role="button"><i class="fa fa-home" aria-hidden="true"></i> Main</a>
{% endblock %}
